.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --SoftCyan: hsl(174, 77%, 80%);
    /*(Full Slider Bar) */
    --StrongCyan: hsl(174, 86%, 45%);
    /*(Slider Backround)*/
    --LightGrayishRed: hsl(14, 92%, 95%);
    /*(Discount Background)*/
    --LightRed: hsl(15, 100%, 70%);
    /*(Discount Text)*/
    --PaleBlue: hsl(226, 100%, 87%);
    /*(CTA Text)*/
    --VeryPaleBlue: hsl(230, 100%, 99%);
    /*(Main Background)*/
    --LightGrayishBlue: hsl(224, 65%, 95%);
    /*(Empty Slider Bar)*/
    --LightGrayishBlue: hsl(223, 50%, 87%);
    /*(Toggle Background)*/
    --GrayishBlue: hsl(225, 20%, 60%);
    /*(Text)*/
    --DarkDesaturatedBlue: hsl(227, 35%, 25%);
    /*(Text & CTA Background)*/
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* style begins here */
body {
    overflow-x: hidden;
    background-color: var(--VeryPaleBlue);
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    overflow-x: hidden;
    height: auto;
    width: 100vw;
    background-image: url(./images/bg-pattern.svg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-image: url(./images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;

}

main h1 {
    color: var(--DarkDesaturatedBlue);
    font-size: 20px;
    padding: 10px 0;
}

main h5 {
    color: var(--GrayishBlue);
    font-size: 13px;
    padding: 0 60px;
}

.pricing-comp {
    width: 590px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 60px 0;
}

.views-price {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price span:last-child {
    color: var(--GrayishBlue);
    padding: 0 5px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.views span {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--GrayishBlue);
    letter-spacing: 2px;
    padding: 0 5px;
}

.amount {
    font-size: 35px;
    color: var(--DarkDesaturatedBlue) !important;
    font-weight: 800;
}

.container-slider {
    width: 93%;
    margin: 30px 10px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.slider {
    width: 100%;
    background: linear-gradient(to right, var(--SoftCyan) 0%, var(--SoftCyan) 50%, var(--LightGrayishBlue) 50%, var(--LightGrayishBlue) 100%);
    border-radius: 8px;
    height: 10px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    pointer-events: none;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 40px;
    /* Set a specific slider handle width */
    height: 40px;
    /* Slider handle height */
    background: var(--StrongCyan);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease;
    -webkit-box-shadow: 5px 15px 31px 5px rgba(16, 213, 194, 0.52);
    box-shadow: 5px 15px 31px 5px rgba(16, 213, 194, 0.52);
    pointer-events: auto;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-webkit-slider-thumb:hover {
    background: rgb(82, 236, 229);
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.slider:active::-webkit-slider-thumb:hover {
    background-color: rgb(0, 182, 173);
}

.toggle-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid var(--LightGrayishBlue);
    padding-bottom: 60px;
}

.toggle-comp span {
    margin: 0 5px;
    color: var(--GrayishBlue);
    font-size: 13px;
    font-weight: 600;
}

#toggle {
    width: 46px;
    height: 23px;
    background-color: var(--LightGrayishBlue);
    border-radius: 30px;
    padding: 2px;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}

#toggle:hover {
    background-color: var(--SoftCyan);
}

#inner-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s ease;
}

.yearly {
    margin-left: 23px;
}

.year-span {
    position: relative;
}

.year-span::after {
    position: absolute;
    content: "25% discount";
    width: 100px;
    margin-left: 35px;
    background-color: var(--LightGrayishRed);
    color: var(--LightRed);
    border-radius: 30px;
    text-align: center;
    padding: 2px 0;
}
.bottom-pricing{
    display: flex;
    padding: 10px 30px;
}
.bottom-pricing div{
    width: 50%;
}
.benefits{
    display: flex;
    align-items: center;
}
.benefits ul{
    display: flex;
    flex-direction: column;
    color: var(--GrayishBlue);
    list-style: none;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
}
.list-benefits{
    margin-left: 5px;
    padding: 5px;
}
.list-benefits img{
    margin-right: 5px;
}
.div-trial{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trial{
    background-color: var(--DarkDesaturatedBlue);
    width: 120px;
    height: 30px;
    color: var(--PaleBlue);
    border-radius: 30px;
    border: none;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.trial:hover{
    color: white;
}


@media(min-width:769.1px) {
    .visible-sm {
        display: none;
    }
}

@media(max-width:769px) {
    .pricing-comp {
        width: 90vw;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .views-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .views-price div {
        padding: 10px 0;
    }

    .container-slider {
        width: 95%;
        margin: 5px 10px;
    }

    .visible-lg {
        display: none;
    }

    .price-sm {
        padding: 10px 0;
        margin-top: 20px;
    }

    .year-span::after {
        position: absolute;
        content: "-25%";
        width: 35px;
        margin-left: 5px;
        font-size: 11px;
        padding: 2px;
    }
    .bottom-pricing{
        flex-direction: column;
    }
    .bottom-pricing div{
        width: 100%;
        padding: 20px 0;
    }
    .benefits ul{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:281px){
    .year-span::after {
        position: absolute;
        content: "-25%";
        width: 40px;
        margin-left: 5px;
        font-size: 10px;
        padding: 2px;
        top: 20px;
        left: 5px;
        margin-top: 2px;
    } 
}